# Aula 4 - strings

**Função nomeDaFunção(): print()**

**Método .nomeDoMétodo: print("Hello World!".center(50))**



Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Strings
- 2) Funções de Strings
    - 2.1) Formatação de strings
_______

____
____
____

## 1) Strings

Desde a primeira aula, temos trabalhado com strings, que, como vimos, representam **dados textuais**

Vamos, agora, olhar pra strings um pouco mais a fundo, e aprender algumas funções para trabalharmos com strings

Uma string nada mais é do que uma **coleção de caracteres**!

Assim, podemos acessar caracteres específicos ou então um intervalo de caracteres de uma string, como se fosse uma lista!

**OBS.: Para strings também, o índice começa em 0, e podemos usar índices negativos!**

In [1]:
name = 'John'
print(name[0])

J

Para saber o comprimento de uma string (quantos caracteres ela tem, incluindo espaços e pontuações), use a função len():

In [2]:
len(name)

4

Podemos também percorrer cada caractere da string com o `for` -- strings são objetos **iteráveis**:

In [3]:
for item in name:
    print(item)

J
o
h
n

Dá pra fazer o mesmo com o range() e o len():

In [8]:
for i in range(len(name)):
    print(name[i])

J
o
h
n

Apesar de se parecer com uma lista, a string não tem exatamente as propriedades de uma lista. Por exemplo, **não podemos alterar** caracteres individualmente:

In [4]:
myList = [0, 1, 2, 3]
myList[-1] = 4

myList

name2 = 'Marie'
name2[-1]

name2[-1] = 'a'
name2

TypeError: 'str' object does not support item assignment

Mas nós conseguimos **alterar caracteres (ou palavras)** com o método "replace()":

In [7]:
name2.replace('e', 'E')

name2 = name2.replace('e', 'E')
name2

'MariE'

Podemos **transformar uma string em uma lista de caracteres**, explicitamente, usando a fução "list()"

In [6]:
list(name2)

['M', 'a', 'r', 'i', 'e']

Agora sim, podemos alterar um elemento da lista:

In [9]:
myList2 = list(name2)
myList2[-1] = 'a'
myList2

['M', 'a', 'r', 'i', 'a']

E, pra trasnformar a lista de volta pra string, usamos a função "join()":

In [14]:
"".join(myList2)

"+".join(myList2)

'M+a+r+i+a'

Um exemplo do uso do .join() pra juntar os números de uma lista em um único numero

In [11]:
numList = [2, 3, 5, 7, 11, 13, 17]
"".join(numList)
numList

TypeError: sequence item 0: expected str instance, int found

Como já vimos, podemos fazer **operações com strings**:

Soma de strings: ao somar duas strings, elas são concatenadas:

In [15]:
"a" + "b"

'ab'

Multiplicação de string por inteiro: ao multiplicar uma string por um número inteiro, a string é repetida:

In [20]:
"c"*10

____________________________________________________________________________________________________
====================================================================================================
                                        Welcome to ADA TECH
====================================================================================================

In [ ]:
print('_'*100)

In [21]:
print("="*100)
print("Welcome to ADA TECH".center(100))
print("="*100)

====================================================================================================
                                        Welcome to ADA TECH
====================================================================================================

__________
__________
__________

## 2) Funções de strings

Como listas, strings também têm algumas funções específicas. Algumas delas são:

In [22]:
# Função: genérica
print("Ada")

# Método: funções específicas para tipos específicos
"Ada".center(50)

Ada

'                       Ada                        '

.upper(): transforma todos os caracteres em maiúscula

In [25]:
username = "Joseph"
username.upper()

'JOSEPH'

.lower(): trasnforma todos os caracteres em minúscula

In [26]:
username.lower()

'joseph'

.title(): deixa a primeira letra de cada palavra em maiúscula

In [29]:
nick = "joeL the good"
nick.title()

'Joel The Good'

.capitalize(): deixa a primeira letra da primeira palavra em maiúscula

In [28]:
text = "whats your name?"
text.capitalize()

'Whats your name?'

É possível quebrar uma string em determinado caractere, tendo como resultado uma **lista com os caracteres além da quebra**.

- Para quebrar nos espaços, use a função ".split()", sem argumento

In [42]:
dev = "Pedro Souza"
dev.split()

['Pedro', 'Souza']

- Para quebrar em algum caracter, use o caractere como argumento:

In [33]:
dev.split("e")

['P', 'dro']

__Tirar espaços que tão sobrando no fim e no início da string__

Utilize a função .strip()

In [38]:
agent = "Instructor001  "
agent.strip()

'Instructor001'

Mas essa função não elimina espaços extras no "meio" da string -- apenas no início e no fim!

In [40]:
agent2 = "Instructor 002"
agent2.strip()

'Instructor 002'

__Pra tirar espaços do meio, podemos fazer:__

In [48]:
news = "Happy        birthday    to    you   "
news

'Happy        birthday    to    you   '

In [50]:
# Limpar espaços a mais(duplicados) no começo, meio e fim de uma string
" ".join(news.split())

'Happy birthday to you'

Ou:

[Métodos de strings em Python](https://www.w3schools.com/python/python_ref_string.asp)

Outras funções interessantes...

- isdigit()
- isalpha()
- isalnum()
- isspace()

In [51]:
"d".isdigit()

False

In [52]:
"e".isalpha()

True

In [54]:
"10".isalnum()

".".isalnum()

False

In [55]:
" ".isspace()

True

In [62]:
phrase = "He will go at 7 pm"

letters = []
numbers = []
simbols = []

for char in phrase:
    if char.isalpha():
        letters.append(char)
    elif char.isdigit():
        numbers.append(char)
    else:
        simbols.append(char)
print(letters)
print(numbers)
print(simbols)

['H', 'e', 'w', 'i', 'l', 'l', 'g', 'o', 'a', 't', 'p', 'm']
['7']
[' ', ' ', ' ', ' ', ' ']

Podemos usar as funções acima para padronizar a resposta de um usuário!

Utilizamos a função

```unicodedata.normalize("NFD", minha_string).encode("ascii", "ignore").decode("utf-8")```

Para tirar acentos da string "minha_string"

E o ```strip()``` é usado pra tirar espaços desnecessários do início e do fim de uma string

Como pudemos ver acima, processar a string para que ela esteja em **determinado padrão** (por exemplo: em letras maiúsculas e sem acentos) é um passo muito importante para que operações de comparação entre strings funcionem perfeitamente sem erros!

___
___

### 2.1) Formatação de strings

Também podemos **formatar strings**. Isso pode ser super útil tanto ao receber dados do usuário (input) quando ao exbibir dados pro usuário (print)

Um dos usos mais legal do format é para **exibir** strings formatadas.

Imagine que você queira exibir uma data no formato dd/mm/aaaa.

Em situações normais, dias e meses inferiores a 10 apareceriam com apenas 1 dígito (int não é representado com zeros à esquerda). Porém, podemos especificar no format que gostaríamos de representar um inteiro com 2 dígitos, preenchendo com zero dígitos em branco (à esquerda):

```python

dia = 1
mes = 2
ano = 2020
data = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data) # resultado: 01/02/2020
```

O símbolo 'd' indica que estamos representando números **inteiros** em base decimal (dígitos de 0 a 9).

Os símbolos '2' e '4' indicam, respectivamente, 2 dígitos ou 4 dígitos.

o símbolo '0' indica que se faltar dígitos, os espaços devem ser preenchidos com zero

In [65]:
dia, mes, ano = 2, 3, 2024
print(dia, mes, ano)

print(f"{dia}/{mes}/{ano}")

2 3 2024
2/3/2024

In [3]:
day = 2
month = 3
year = 2024
date = '{:02d}/{:02d}/{:04d}'.format(day, month, year)
print(date) # resultado: 01/02/2020

02/03/2024

Imagina que você queira exibir algum valor monetário, por exemplo, o preço de alguma coisa.

Utilizando float, pode ser que seu resultado tenha apenas uma casa decimal.

Mas, se tratando de dinheito, sempre queremos mostrar duas casas decimais!

Usaremos o format para representar com apenas 2 casas.

```python
preco = 1500.5

print(preco)

precoFinal = 'R$ {:.2f}'.format(preco)

print(precoFinal)
```

Neste caso, o 'f' indica que o número é float.

Já o '.2' indica que queremos 2 casas após o ponto decimal.

Note que a função não apenas descarta as casas excedentes, e sim arredonda corretamente o número.

In [5]:
price = 1432.20

print(f"Price: ${price}")

Price: $1432.2

In [8]:
finalPrice = '${:.2f}'.format(price)
print(finalPrice)

finalPrice = '${:.3f}'.format(price)
print(finalPrice)

$1432.20
$1432.200

In [9]:
price2 = 3234.4295
finalPrice2 = '{:.2f}'.format(price2)
print(finalPrice2)

3234.43

Uma outra forma interessante de formatar strings é com a utilização das chamadas [f strings](https://docs.python.org/pt-br/3/tutorial/inputoutput.html#tut-f-strings).

Esa formatação permite que coloquemos facilmente variáveis em strings, de maneira fluida! Essa construção é super útil sobretudo na construção de exibições mais complexas.

Veja, abaixo, alguns exemplos!

In [11]:
price3 = 984.4346
print(f"{price3:.2f}")

984.43